@import 'mixins';
@import 'fonts';
@import 'constants';

.portrait_media {
    display: none;
    width: 100%;

    @media (max-width: 890px) {
        display: block;
        text-align: center;
    }

    .portrait_img {
        @media (max-width: 890px) {
            margin: 0 auto;
        }
    }
}

.portrait {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;

    @media (max-width: 890px) {
        display: none;
    }

    &_img {
        width: 17rem;
        height: 17rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;

        @media (max-width: 890px) {
            width: 14rem;
            height: 14rem;
        }
    }
}

.hero {
    width: 24rem;
    padding: 4rem 0 2rem;
    color: $mainColor;
    margin: 0 auto;
    @media (max-width: 890px) {
        width: 100%;
    }

    &_title {
        @include font(3.8rem, 300, 1.25);
        @media (max-width: 890px) {
            @include font(2.8rem, 300, 1.25);
            text-align: center;
            margin: 0 auto;
        }
    }

    &_subtitle {
        width: 10rem;
        font-family: 'Montserrat', sans-serif;
        @include font(1.3rem, 300, 1.5rem);
        padding-top: 1rem;

        @media (max-width: 890px) {
            text-align: center;
            margin: 0 auto;
        }
    }
}
