@import 'mixins';
@import 'fonts';
@import 'constants';

.portrait {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;

    &_img {
        width: 17rem;
        height: 17rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
    }
}

.hero {
    width: 24rem;
    padding: 4rem 0 2rem;
    color: $mainColor;

    &_title {
        @include font(3.8rem, 300, 1.25);
    }

    &_subtitle {
        width: 10rem;
        font-family: 'Montserrat', sans-serif;
        @include font(1.3rem, 300, 1.5rem);
        padding-top: 1rem;
    }
}
