@import 'styles/null.scss';
@import 'styles/hero.scss';
@import 'styles/contact.scss';
@import 'styles/skills.scss';
@import 'styles/fonts';
@import 'styles/mixins';
@import 'styles/constants';

.main_container {
    max-width: 968px;
    width: calc(100% - 3rem);
    display: flex;
    margin: 0 auto;

    .left-section {
        width: 40%;
        background-color: $mainGg;
        padding: 1rem;
    }

    .right-section {
        width: 60%;
    }

    .section {
        margin: 1.5rem 0;
        font-family: 'Oswald', sans-serif;
        font-size: 0.9rem;
        color: $mainColor;

        &-title {
            @include font(18px, 700, 1rem);
            font-family: 'Montserrat', Arial, sans-serif;
            color: $mainColor;
            margin: 1rem 0;
        }
    }
}
