@import 'styles/null.scss';
@import 'styles/hero.scss';
@import 'styles/fonts';
@import 'styles/mixins';

.main_container {
    max-width: 968px;
    width: calc(100% - 3rem);
    display: flex;
    margin: 0 auto;

    .left-section {
        width: 40%;
        background-color: #cbe5ef;
    }

    .right-section {
        width: 60%;
    }
}
